<p id="notice"><%= notice %></p>

<p>
   <%= link_to  @post.user.nickname, user_posts_path(@post.user.id)%>
  <%=%>
</p>

<p>
  <strong><%= @favorite.post.title %></strong>
  <%= @favorite.post.content %>
</p>


<%= link_to 'Back', favorites_path %>
