
<h3>Comments to:  <%=  @post.title %> </h3>
<table>
  

  
    <% @comments.each do |comment| %>
      

        <%= link_to comment.user.nickname, user_posts_path(comment.user.id) %><br />
        <%= comment.content %><br />
        <%= comment.created_at %><br />
        <%= link_to 'Show', user_post_comment_path(comment.post.user.id, comment.post.id, comment.id) %>
        <% if user_signed_in? %>
          <% if comment.user == current_user %>
         
         | <%= link_to 'Edit', edit_user_post_comment_path(current_user.id, comment.post.id, comment.id) %>
         | <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
         <% end %>
        <%end%>
        <br />
        <br />
    <% end %>

<% if user_signed_in? %>
 <p> Write new comment: </p>
 <%= render 'form' %>
<% end %>
<%= link_to 'Back to post', user_post_path(@post.user.id,@post.id) %>

<br>

