<p id="notice"><%= notice %></p>

<p>
  <%= link_to @comment.user.nickname, user_posts_path(@comment.user.id) %>
 
</p>

<p>
  <strong><%= @comment.post.title %></strong>
  
</p>

<p>
  
  <%= @comment.content %><br />
  <%= @comment.created_at %><br />
</p>
<% if @comment.user == current_user %>
<%= link_to 'Edit', edit_user_post_comment_path(user_id: @comment.post.user.id, post_id: @comment.post.id, id: @comment.id) %> |
<% end %>
<%= link_to 'All comments', user_post_comments_path(@comment.post.user.id, @comment.post.id) %>

