<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Info:</strong>
  <%= @user.info %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @user.homepage %>
</p>

<% if current_user == @u %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%end%>
<%= link_to 'Back', :back %>
