<!DOCTYPE html>
<html>
<head>
<title>Startseite </title>
</head>

<body>
<main>	  
    <div class="ym-wrapper">		    
      <div class="ym-wbox">						      
        <section class="ym-grid linearize-level-1">				        
          <article class="ym-g66 ym-gl content">					          
            <div class="ym-gbox-left ym-clearfix">	
             <% @posts.each do |post| %>
             <br />
             <br />
              <% @c=Comment.where(post_id: post.id).count %>
             <%= link_to post.user.nickname, user_posts_path(post.user.id)%><br />

             <strong><%= post.title %></strong><br />
             <%= post.content %>
               <br />
             <%= link_to 'Show post', user_post_path(user_id: post.user.id, id: post.id) %>
             |<%= link_to "#{@c} Comments",  user_post_comments_path(post.user.id, post.id) %>
             <% if user_signed_in? %>
             |<%= link_to 'Favorite',  new_user_post_favorite_path(current_user,post.id) %>

             <% end %>
             <% end %>
             </div>
           </article>
          </section>
        </div>
       </div>
     </main>
     <footer>
     <div class="ym-wrapper">		    
      <div class="ym-wbox">			
      <br />      
       <%=link_to "All users", users_path %></li>  
         

      </div>	 
     </footer>
    </body>
</html>
