

<%= form_for([current_user, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :size=>"60" %>
  </div>
  <div class="field">
  <%= tinymce %>
    <%= f.label :content %><br>
    <%= f.text_area :content, :class => "tinymce", :escape => false %>
  </div>



  <div class="field">
    <%= f.label "Tags (delimit by comma)" %><br>
    <%= f.text_field :tag %>
  </div>
  <br />
  <div class="field">
  <%= f.label "picture upload" %>
  <%= f.file_field :picture %>
  
  <br />
    <%= f.radio_button(:privacy, true) %>
      <%= f.label(:privacy, "private (visible only to me)") %>
      <br />
    <%= f.radio_button(:privacy, false, checked: true ) %>
      <%= f.label(:privacy, "public ") %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
