<!DOCTYPE html>
 <%if @post.privacy == true && current_user!= @post.user %>
 Private post, can't open it!

<%else%>
<title> <%= @post.title %> </title>

<p id="notice"><%= notice %></p>


   <div class="blog-post">
     <h2 class="blog-post-title"><%= @post.title %></h2>
     <p class="blog-post-meta"><%= @post.created_at %>, by <%= link_to @post.user.nickname, user_posts_path(@post.user.id)%></p>
     



  <%= @post.content.html_safe %>
  
  
  <% if @post.picture_url != nil%>
  <br />
    <%= image_tag @post.picture_url %>
  <%end%>

   <% if @post.tag != "" %>
           <br />
             # 
           <% @tags=@post.tag.split(",") %>
           <% @tags.each do |tag| %>
           <%= link_to "#{tag}", search_path(search: tag) %> &nbsp;
             <%end%>
        <% end %>
       
<br />
<% if user_signed_in? %>
  <% if current_user == @post.user %>
  <%= link_to 'Edit', edit_user_post_path(user_id: @post.user.id,  id: @post.id) %> |
  <%= link_to 'Delete post', user_post_path(user_id: @post.user.id,  id: @post.id), method: :delete,
           data: { confirm: 'Are you sure?' } %>
  <%end%>
<% end %>
|<%= link_to "#{@c} Comments",  user_post_comments_path(@post.user.id, @post.id) %>
<%if user_signed_in? %>
<% f=Favorite.where("user_id = ? AND post_id = ?", current_user, @post.id) %>
 <% if f.empty? %>
 |<%= link_to 'Favorite',  new_user_post_favorite_path(current_user,@post.id) %>
 <% end %>
<% end %>
</div>
<%end%>

</html>

