<!DOCTYPE html>
<html>
<head>
  <title>Blogg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="hmenu">
  <% if user_signed_in? %>
  <%= @user=current_user.nickname %>
  <%= link_to "Meine Posts", posts_path %>
  <% end %>
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>

<%= yield %>

</body>
</html>
